{% extends 'base.html' %}
{% block title %} My Orders {% endblock %}

{% block content %}
<div class="container mt-5">

    <h3 class="mb-4 text-center">My Orders</h3>

    {% if orders %}
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Status</th>
                <th>Order Date</th>
            </tr>
        </thead>

        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.product.name }}</td>

                <td>
                    {% if order.image %}
                    <img src="{{ order.image.url }}" width="60">
                    {% endif %}
                </td>

                <td>₹ {{ order.price }}</td>
                <td>{{ order.quantity }}</td>

                <td>
                    <span class="badge 
                        {% if order.status == 'Delivered' %} badge-success
                        {% elif order.status == 'Cancelled' %} badge-danger
                        {% else %} badge-warning {% endif %}">
                        {{ order.status }}
                    </span>
                </td>

                <td>{{ order.ordered_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="text-center mt-5">
            <h4>No orders yet 📦</h4>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">
                Start Shopping
            </a>
        </div>
    {% endif %}

</div>
{% endblock %}
